@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/* seuarquivo.css */
body {
    background: white;
    color: black;
    margin: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    margin-top: 50px;
    display: inline-flex;
    width: 50%;
    height: 50%;
}

.img {
    padding: 10px;
    background: whitesmoke;
}

footer {
    background: whitesmoke;
    font-style: italic;
    color: black;
}
